#!/bin/bash

# TODO: look into removing borders dir entirely for Linux

{{ if eq .chezmoi.os "darwin" }}
## See yabai/yabairc for bootstrapped command

options=(
	style=square # | round
	width=3.0
	hidpi=off
	active_color=0xffffffff
	inactive_color=0xffffffff
)

borders "${options[@]}"
{{ end }}
