export ST_ROOT_DIR="$HOME/dev/st"
export ST_MAVEN_DIR="$HOME/.m2"
export ST_DATA_DIR="$ST_ROOT_DIR/__data__"
export ST_TIER="local"
export ST_CLUSTER="local"
export ST_NODE_ROLE="local"
export ST_CLI_VERSION="v2"
export ST_CLI_LOGO_FORMAT="small"
export ST_CLI_LOGO_COLOR='BOLD'
export ST_CLI_CMD_COLOR='BOLD'
export ST_CLI_DOCS_DIR="${ST_ROOT_DIR}/st-docs/rtfm"
export ST_ROOT_DEVOPS_DIR="$HOME/dev/st-devops"

export RUST_ENV_IS_DEV='true'

# TODO: encrypt/hide this
export ST_JACK_HENRY_TEST_ACCOUNT="chadangelelli"
